.block2 {
  grid-area: block2;
  display: grid;
  grid-template-areas: "block2_left block2_center block2_right";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 700px;
  background: black; }

.block2_right {
  grid-area: block2_right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.block2_right_foto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .block2_right_foto img {
    width: 350px;
    height: auto; }

.block2_left {
  grid-area: block2_left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.block2_left_foto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.block2_foto_block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%; }
  .block2_foto_block img {
    width: auto;
    height: 700px; }

#block2_center {
  grid-area: block2_center;
  background: black; }

.block2_center_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 60px;
  font-size: 42px;
  text-transform: uppercase;
  color: white;
  font-family: 'Lora', serif; }

.block2_center_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 40px;
  line-height: 1.2;
  font-size: 26px;
  margin-bottom: 30px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif; }

.block2_center_ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.block2_center_li img {
  width: 90px;
  height: 60px; }

.block2_center_li_six img {
  width: 130px;
  height: 50px; }

.block2_center_li_nyse {
  margin: 0 10px; }

/*#block2_center { width: 100%; height: 600px; background-color: rgba(121, 137, 122,  0.722); position: relative;   bottom: 0;  right: 100%;
    transition: all 0.5s;}
*/
@media screen and (max-width: 1500px) {
  .block2 {
    grid-template-columns: 2fr 2fr; } }

@media screen and (max-width: 1200px) {
  .block2_center_title {
    padding-top: 25px;
    margin-bottom: 40px; }
  .block2_center_text {
    padding: 0 20px;
    font-size: 23px;
    text-align: center; } }

@media screen and (max-width: 900px) {
  .block2 {
    grid-template-columns: 2fr 3fr; } }

@media screen and (max-width: 900px) {
  .block2 {
    grid-template-columns: 1fr;
    grid-template-areas: " block2_center"; }
  .block2_center {
    background: rgba(121, 137, 122, 0.722); }
  #block2_center::before {
    display: none; }
  .block2_left {
    display: none; } }

@media screen and (max-width: 650px) {
  .block2_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 550px) {
  .block2_center_title {
    padding-top: 20px;
    margin-bottom: 25px;
    font-size: 34px; }
  .block2_center_text {
    padding: 0 5px;
    font-size: 23px;
    text-align: center; } }
